.body {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: calc(100vh - 5vh);
    background-color:rgb(235, 234, 234);
    opacity: 1;
}


.home_div{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 15vh;
}

.home_h2{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 15vh;
}


.login_div{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 15vh;
}

.login_h2{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 15vh;
}

.edit_div{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 15vh;
}

.edit_h1{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 15vh;
    color:darkslategray;
}

.hr {
    border-color: white; 
    border-width: 5px
}

.edit_button_back {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 5vh;
}


.product_div{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 50vh;
}

.product_h1{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 15vh;
    color:darkslategray;
}

.product_h2{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 5vh;
    color:darkslategray;
}

.session_messages {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color:darkslategray;
    height: 5vh;
}


.register_div{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 15vh;
}


form {
    border: 1px solid #000000;
    background-color: rgba(240, 255, 240, 0.5);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

form input[type="text"] {
    text-align: center;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}


table {
    margin: 0 auto;
    border: 1px solid #000;
    padding: 10px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  table th,
  table td {
    padding: 5px;
  }
  
  .index_product_buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  

div {
    margin-top: 10px;
    text-align: center;
}

.submit_btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
}

.back_btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #297fb1;
    color: white;
    border: none;
    margin-top: 5px;
    border-radius: 20px;
}


.index_product_buttons {
    display: flex;
    padding: 0;
    gap: 10px;
    align-items: center;
}


.new_product_btn {
    
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px 20px; 
    font-size: 20px;
    background-color: #297fb1;
    border-radius: 20px;
    color:white;
    text-decoration: none;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
}

.image-item {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    overflow: hidden;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.image-item:hover img {
    transform: scale(1.2);
}

